In [1]:
# i want to print hello world
print("Hello World")

Hello World

In [2]:
instructor = "Joshua"

In [5]:
print(instructor)

Joshua

In [7]:
# i want to ask 
name = input("what is your name:")
print(name)

what is your name:Joshua
Joshua

In [8]:
age = 30

In [9]:
type(age)

int

In [10]:
print(type(age))

<class 'int'>

In [11]:
boolean = True

In [12]:
print(type(boolean))

<class 'bool'>

In [17]:
age2 = 40
name = "Joshua"

In [19]:
print(f"{name} is {age2} years old")

Joshua is 40 years old

In [20]:
student = "josh"
print(student)

josh

In [21]:
student.capitalize()
student.upper()

'JOSH'

In [24]:
# I want to to define name variable
name2 = "Joshua"
# I want to print Joshua
print(f"Hello, {name2}")

Hello, Joshua

In [27]:
fahrenheit_temp = 68
celsius = (fahrenheit_temp - 32) / 1.8
print(f"{fahrenheit_temp}째F is equal to {celsius}째C")

68째F is equal to 20.0째C

In [29]:
print((4+3)*(2**2)/2-1)

13.0

In [30]:
var1 = 5
var2 = 10
print(var1==var2)

False

In [31]:
var1 = 5
var2 = 10
print(var1!=var2)

True

In [32]:
var1 = 5
var2 = 10
print(var1>var2)

False

In [33]:
var1 = 5
var2 = 10
print(var1>=var2)

False

In [34]:
var1 = 5
var2 = 10
print(var1<=var2)

True

In [35]:
var1 = 5
var2 = 10
print(var1>var2)

False

In [36]:
var1 = 5
var2 = 10
print(var1<var2)

True

In [42]:
var3 = "Emmanurl"
var4 = "Joshua"
print(var3.startswith('E') or var.endwith('A'))

True

In [44]:
if var3.startswith('E'):
    print('This name start with E')
else:
    print('This name does not start with E')

This name start with E

In [68]:
if var3.startswith('E'):
    print('This name start with E')
elif 'e' in var3:
    print('This name contains e')
else:
    print('This name does not start with E')

This name start with E

In [69]:
var4_score = 90
if var4_score >=90:
    print('Excellent')
elif var4_score>= 70 and var4_score<= 89:
    print("Good")
else:
    print("Below Average")

Excellent